.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.club-card {
  display: flex;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.club-image {
  flex: 1;
  max-width: 250px;
  margin-right: 20px;
}

.club-image img {
  width: 100%;
  border-radius: 8px;
}

.club-details {
  flex: 2;
}

.club-details h2 {
  color: #8B0000;
  margin-bottom: 15px;
}

.club-details p {
  color: #333;
  margin-bottom: 20px;
}

.club-socials {
  display: flex;
  gap: 15px;
}

.club-socials a {
  color: #333;
  font-size: 24px;
}

.club-socials a:hover {
  color: #8B0000;
}
